<section class="quiz-problems">
  <div class="question">
    <div>
      <h1 class="problem-number">Question {{ problemIndex + 1 }} of 10</h1>
      <h2 class="problem-title">{{ quizProblems[problemIndex].question }}</h2>
    </div>

    <div class="progress-container">
      <div
        class="progress"
        [ngStyle]="{ width: ((problemIndex + 1) / 10) * 100 + '%' }"
      ></div>
    </div>
  </div>

  <div class="options-container">
    <div class="options">
      <button
        #optionButton
        class="option"
        (click)="pickOption(i)"
        *ngFor="let option of quizProblems[problemIndex].options; let i = index"
        [ngStyle]="{
          border: i === selectedOptionIndex ? '3px solid var(--purple)' : ''
        }"
      >
        <span class="option-letter">{{ getOptionLetter(i) }}</span>
        <span class="text">{{ option }}</span>
      </button>
    </div>

    <button #submitButton class="submit" (click)="submitAnswer($event)">
      Submit Answer
    </button>

    <button #nextButton class="next" (click)="moveToNextQuestion()">
      Next Question
    </button>

    <div #noAnswer class="no-answer-container">
      <img src="../../assets/images/icon-error.svg" alt="Icon Error" />
      <p>Please Select an answer</p>
    </div>
  </div>
</section>
