.questions__container {
  /* border: 2px solid red; */
  width: 80rem;
  height: 35rem;
  display: flex;
}

/* left and right sections to have same width */
.questions__leftsection,
.questions__rightsection {
  /* border: 2px solid blue; */
  width: 50%;
  padding: 1rem 3rem;
}

/* questions left section syling starts here */
.questions__leftsection {
  display: flex;
  flex-direction: column;
  padding-inline: 6rem;
}

/* LEFT SECTION STYLING STARTS HERE */
/* Questions number styling */
.questions__number {
  /* border: 2px solid green; */
  height: 10%;
  display: flex;
  display: flex;
  font-size: 1.5rem;
}

/* Questions display Containter styling */
.questions__question {
  /* border: 2px solid pink; */
  height: 40%;
  color: white;
  font-size: 1.1rem;
}

/* Questions Progress Bar */

/* container */
.questions__progresscontainer {
  /* border: 2px solid blue; */
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* progress fill wrapper */
.questions__progressline {
  background-color: #3b4d66;
  /* border: 2px solid red; */
  border-radius: 20px;
  overflow: hidden;
}

/* progress fill */
.questions__progress {
  width: 30%;
  height: 1rem;
  background-color: #713bad;
}
/* LEFT SECTION STYLING ENDS HERE */

/* RIGHT SECTION STYLING STARTS HERE */
.questions__rightsection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.questions__optionscontainer {
  /* border: 2px solid red; */
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.questions__options {
  background-color: #3b4d66;
  height: 25%;
  /* border: 2px solid blue; */
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.questions__options > span {
  background-color: #f4f6fa;
  color: #626c7f;
  width: 9%;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.questions__options > p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

/* submit button */
.buttons {
  /* border: 2px solid red; */
  background-color: #a729f5;
  color: white;
  display: block;
  width: 100%;
  height: 15%;
  font-size: 1.8rem;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s;
}

/* hovering styles starts here */
.questions__options:hover > span {
  background-color: #f6e7ff;
  color: #a729f5;
}
.buttons:hover {
  background-color: #d394fa;
}
/* hovering styles ends here */

/* RIGHT SECTION STYLING ENDS HERE */




/* clicked styles */
.questions__options[clicked] {
    outline: 4px solid #a729f5;
    
  }
  
  .questions__options[clicked] > span {
   background-color: #A729F5;
   color: white;
  }