<div class="questions__container">
  <!-- Left Section -->
  <div class="questions__leftsection">
    <div class="questions__number">
      <p>
        Question <span id="currentQuestionNum">1</span> of
        <span id="totalQuestions">10</span>
      </p>
    </div>
    <div class="questions__question">
      <h1 id="quizQuestion">
        Which of these color contrast ratios defines the minimum WCAG 2.1 Level
        AA requirement for normal text?
      </h1>
    </div>
    <!-- question progress -->
    <div class="questions__progresscontainer">
      <div class="questions__progressline">
        <div class="questions__progress"></div>
      </div>
    </div>
  </div>
  <!-- Right Section -->
  <div class="questions__rightsection">
    <div class="questions__optionscontainer">
      <div class="questions__options" >
        <span>A</span>
        <p id="a">4:2:4</p>
      </div>
      <div class="questions__options">
        <span>B</span>
        <p id="a">4:2:4</p>
      </div>
      <div class="questions__options">
        <span>C</span>
        <p id="a">4:2:4</p>
      </div>
      <div class="questions__options">
        <span>D</span>
        <p id="a">4:2:4</p>
      </div>
    </div>
    <!-- submit answer button -->
    <button class="buttons">Submit Answer</button>
  </div>
</div>
