.home {
  padding: 24px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  font-size: 40px;
  line-height: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 .welcome-heading {
  font-weight: 100;
}

h1 .quiz-heading {
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  color: var(--subtitle-color);
}

.quiz-card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.quiz-card {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--quiz-card-bg);
  padding: 12px;
  border-radius: 12px;
}

.quiz-card .text {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  color: var(--text-color);
}

.icon-container {
  padding: 5.71px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 675px) {
  .home {
    padding: 64px;
    gap: 64px;
  }

  h1 {
    font-size: 64px;
  }

  .subtitle {
    font-size: 20px;
  }

  .quiz-card {
    gap: 32px;
    border-radius: 24px;
  }

  .quiz-card-container {
    gap: 24px;
  }

  .quiz-card .text {
    font-size: 28px;
  }

  .icon-container {
    padding: 8px;
  }
}

@media screen and (min-width: 1300px) {
  .home {
    flex-direction: row;
    padding: 140px;
    padding-top: 75px;
    justify-content: space-between;
  }

  h1 {
    font-size: 64px;
  }

  .quiz-card-container {
    width: 50%;
  }

  .quiz-card {
    padding: 20px;
  }

  .subtitle {
    margin-top: 48px;
  }
}
