<div class="landing-page">
  <div class="landing-page__left">
    <h1 class="landing-page__left-title">
      <span>Welcome to the</span>
      Frontend Quiz!
    </h1>
    <p>pick a subject to get started.</p>
  </div>
  <div class="landing-page__right">
    <button id="html-btn" class="">
      <span><img src="../../assets/icon-html.svg" alt="" /></span>
      <p id="html">HTML</p>
    </button>
    <button class="css-btn">
      <span><img src="../../assets/icon-css.svg" alt="" /></span>
      <p id="css">CSS</p>
    </button>
    <button class="js-btn">
      <span><img src="../../assets/icon-js.svg" alt="" /></span>
      <p id="js">Javascript</p>
    </button>
    <button class="accessibility-btn">
      <span><img src="../../assets/icon-accessibility.svg" alt="" /></span>
      <p id="accessibility">Accessibility</p>
    </button>
  </div>
</div>
