/* .landing-page {
  width: 80rem;
  height: 25rem;
  display: flex;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

.landing-page__hero,
.landing-page__quiz-topics {
  width: 50%;
  padding: 1rem 3rem;
}

.landing-page__hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.landing-page__hero p {
  color: #abc1e1;
  font-size: 1.2rem;
  font-style: italic;
}

.landing-page__hero-title {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.landing-page__hero-title span {
  display: block;
   font-size: 3.7rem; 
  font-weight: 400;
}

*/
.landing-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-inline: auto;
}

h1 {
  margin-bottom: 1rem;
  color: var(--text-clr-primary);
}
.landing-page__hero-title {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 700;
}
.landing-page__intro-text {
  color: var(--text-clr-secondary);
  font-size: 1.2rem;
  font-style: italic;
}

.landing-page__welcome-text {
  font-weight: 400;
}

.landing-page .landing-page__quiz-topics {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.landing-page__quiz-topics .btn {
  background-color: var(--background-accent);
  height: 25%;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
}

.landing-page__btn-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.landing-page__btn-icon {
  padding: 0.2rem;
  border-radius: 8px;
}

.html-img {
  background-color: #fff1e9;
}

.css-img {
  background-color: #e0fdef;
}

.js-img {
  background-color: #ebf0ff;
}

.acc-img {
  background-color: #f6e7ff;
}

@media screen and (min-width: 640px) {
  .landing-page__hero-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .landing-page {
    flex-direction: row;
    justify-content: space-between;
    max-width: 70rem;
  }
  .landing-page__hero {
    column-span: 50%;
  }
  .landing-page__quiz-topics {
    column-span: 50%;
    width: 100%;
  }
  .landing-page__hero-title {
    font-size: 54px;
  }
}

@media only screen and (max-width: 830px) {
  .landing-page__hero-title {
    font-size: 48px;
  }
}

/* Tablet screens (	640px ) or larger */

/* Medium screens (	768px ) or larger */

/* Large screens (	1024px ) or larger  */

/* Extra large screens (	1280px ) or larger */
