<section class="completed-quiz_container">
    <!-- left side / descriptions or comments -->
    <div class="completed-quiz_title_container ">
        <h1 class="completed-quiz_title landing-page__left-title">
          <span>Quiz completed</span>
          You scored...
        </h1>
    </div>

    <!-- score board -->
    <div class="questions__rightsection">
        <div>
            <!-- topic header -->
            <div id="subject_container" class="btn">
                <span class="subject-img icon">
                    <img src="../../assets/icon-accessibility.svg" alt="Accessibility svg icon" />
                </span>
                <p id="subject">Accessibility</p>
            </div>

            <div class="completed-quiz-results">
                <!-- score -->
                <h1 class="score">
                    8
                </h1>
                <!-- brief text -->
                <p>out of 10.</p>

            </div>

        </div>


        <!-- submit button -->
        <button class="buttons">Play again</button>
        
        
    </div>

    
</section>