/* You can add global styles to this file, and also import other style files */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}



/* clicked styles */
.questions__options[clicked] {
  outline: 4px solid #a729f5;
}

